{% extends 'base.html' %}
{% block content %}
<div class="deck-page">
  <div class="deck-container">
    <h1>{{ deck.nome }}</h1> <!-- Nome do deck ao qual o card pertence -->
    <div class="card-display">
      <div id="card" class="card" onclick="flipCard()">
        <div class="card-content">
          <p id="card-content">{{ card.lado_frente }}</p> <!-- Frente do card -->
        </div>
      </div>
      <p class="card-hint" id="card-hint">Clique no cartão para virá-lo →</p>
    </div>
    <div class="controls">
      {% if prev_card %}
      <a href="{% url 'classes:cards' deck.id prev_card.id %}" class="action-btn">←</a>
      {% endif %}
    </div>
    <div class="actions">
      <form method="post" action="{% url 'classes:naomaduroeproximo' deck.id card.id %}">
        {% csrf_token %}
        <button type="submit" class="action-btn">✘</button>
      </form>
      <button id="mic-btn" class="action-btn">🎤</button>
        <form method="post" action="{% url 'classes:maduroeproximo' deck.id card.id %}">
          {% csrf_token %}
        <button type="submit" class="action-btn">✔</button>
       </form>
    </div>
    <a href="{% url 'classes:create_card' deck.id %}" class="add-card-btn">Adicionar Novo Card</a>
  </div>
</div>

<script>
  let isFront = true;

  function flipCard() {
    const cardContent = document.getElementById("card-content");
    const cardHint = document.getElementById("card-hint");

    if (isFront) {
      cardContent.textContent = "{{ card.lado_tras }}"; // Verso do card
      cardHint.textContent = "Clique novamente para voltar →";
    } else {
      cardContent.textContent = "{{ card.lado_frente }}"; // Frente do card
      cardHint.textContent = "Clique no cartão para virá-lo →";
    }
    isFront = !isFront;
  }
</script>
{% endblock content %}