{% extends 'base.html' %}
{% block content %}
<html lang="en">
<body>
    <nav class="nav-classe">
        <a href="{% url 'classes:mural' Classe.id %}">Mural</a>
        <a href="{% url 'classes:flashcards' Classe.id %}">Flashcards</a>
        <a href="{% url 'classes:atividades_index' Classe.id %}" class="active">Atividades</a>
    </nav>
</body>
<hr>
<section>
    <a href="{% url 'classes:atividades_create' Classe.id %}"><button>Crie sua atividade</button></a>
    <ul>
        {% if Classe.arquivo_set.all %}
            {% for arquivo in Classe.arquivo_set.all %}
            <figure>
                <blockquote>
                    "{{ arquivo.nome }}"
                </blockquote>
                <figcaption>—{{ arquivo.data_upload }}</figcaption>
                <a href="{% url 'classes:download_pdf' arquivo.id %}" class="btn">Baixar</a> <!-- Link para download -->
            </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhuma atividade nesta classe.</p>
        {% endif %}
    </ul>
</section>
<br>
<div style="text-align: center; margin: 20px 0;">
    <a href="{% url 'classes:delete' Classe.id %}" style="color:red;"><strong>Apagar Classe</strong></a>
</div>
</html>
{% endblock content %}