{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}

<form action="{% url 'classes:delete_message' Classe.id mensagem.id %}" method="post">
    {% csrf_token %}
    <p>
      Você tem certeza que deseja apagar a mensagem?
    </p>
    <button type="submit" class = "delete-button">Apagar</button>
  </form>
  <br>
  <p><a href = "{%url 'classes:mural' Classe.id%}" class = "botaozinho">Voltar</a></p>
{% else %}
  <p>Você não está logado.</p>
  <br>
  <a href="{% url 'accounts:login' %}" class="botaozinho">Faça login aqui</a>
{% endif %}
{% endblock content %}