{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mural-page">
    <nav class="nav-classe">
        <a href="{% url 'classes:mural' Classe.id %}" class="active">Mural</a>
        <a href="{% url 'classes:flashcards' Classe.id %}">Flashcards</a>
        <a href="{% url 'classes:atividades_index' Classe.id %}">Atividades</a>
    </nav>

    <section>
        <a href="{% url 'classes:mensagem' Classe.id %}">
            <button>Crie sua mensagem</button>
        </a>
        <ul>
            {% if Classe.mensagem_set.all %}
                {% for mensagem in Classe.mensagem_set.all %}
                <li class="message">
                    <img src="{% static 'perfil.svg' %}" alt="Avatar do Usuário">
                    <div class="message-content">
                        <h4>{{ mensagem.usuario }}</h4>
                        <p>{{ mensagem.conteudo }}</p>
                        <div class="message-divider"></div>
                        <div class="message-action">
                            <a href="{% url 'classes:delete_message' Classe.id mensagem.id %}">Apagar Mensagem</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            {% else %}
                <p>Ainda não existe nenhuma mensagem neste mural.</p>
            {% endif %}
        </ul>
    </section>
</div>
{% endblock content %}
